<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/gallary.css">
</head>

<body>
    <div id="wrap">
        <header id="header" class="clearfix">

            <h1>MySite</h1>

            <ul>
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>

        </header>

        <nav id="nav">
            <ul class="clearfix">
                <li><a href="../main/index.html">입사지원서</a></li>
                <li><a href="../board/list.html">게시판</a></li>
                <li><a href="../gallary/gallary.html">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </nav>

        <div id="contents3" class="clearfix">

            <aside id="aside">

                <h2>갤러리</h2>

                <ul>
                    <li><a href="../gallary/gallary.html">일반갤러리</a></li>
                    <li><a href="">파일첨부연습</a></li>
                </ul>

            </aside>


            <main id="main">
                <div id="laps" class="clearfix">
                    <h3>일반갤러리</h3>

                    <ol>
                        <li>홈</li>
                        <li>갤러리</li>
                        <li>일반갤러리</li>
                    </ol>
                </div>

                <form action="" class="clearfix">

                    <div id="imgbtn" class="clearfix">
                        <button>이미지올리기</button>
                    </div>

                    <div id="gallaryimg">
                        <div>
                            <img src="../../assets/images/Gangho-dong.jpg" alt="">
                            <p>작성자: 유재석</p>
                        </div>

                        <div>
                            <img src="../../assets/images/Jeongjae-Lee.jpg" alt="">
                            <p>작성자: 유재석</p>
                        </div>

                        <div>
                            <img src="../../assets/images/JeonSoMin.jpg" alt="">
                            <p>작성자: 유재석</p>
                        </div>

                        <div>
                            <img src="../../assets/images/JiseokJin.jpg" alt="">
                            <p>작성자: 유재석</p>
                        </div>

                        <div>
                            <img src="../../assets/images/JungWooSung.jpg" alt="">
                            <p>작성자: 유재석</p>
                        </div>






                    </div>


                </form>


            </main>

        </div>


        <footer id="footer">
            <p>Copyright ⓒ 2024 유영수. All right reserved</p>
        </footer>
    </div>

</body>

</html>