@charset "UTF-8";
/* **************************************************************************************************************************************** */
/* 공통 */
/* **************************************************************************************************************************************** */
/* 여백초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; 
}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}

body {
    font-family: "맑은 고딕";
    font-size: 12px;
}

/* clearfix */
.clearfix::before, .clearfix::after{
    display: block;
    content: "";
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
/* /clearfix */

/* ul li 리스트 */
ul, ol {list-style-type: none;}
/* /ul li 리스트 */

/* 레이아웃 */
#wrap {
    width: 1000px;
    margin: 0 auto;
}

#wrap #header {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #dddddd;
}

#wrap #nav {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #dddddd;
}
/* header */
#header h1 {
    float: left;
    font-size: 35px;
    color: #79b30b;
}
#header ul {
    float: right;
    margin: 14px 10px 0 0;
}
#header ul>li {
    float: left;
    margin: 0px 0px 0 10px;
    padding: 3px 5px 3px 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 10px;
    background-color: white;
}

#header ul>li:hover{
    background-color: #dddddd;
}

/* nav */
#nav ul>li {
    width: 250px;
    float: left;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#wrap #footer {
    padding: 10px 10px 10px 10px;
    /* border-bottom: 1px solid #dddddd; */
    text-align: center;
    background-color: gray;
}
/* /레이아웃 */

/* footer */
#wrap #footer>p{
    display: inline-block;
    padding: 10px 10px;
    color: white;
    font-size: 15px;
}

/* /공통 */
/* **************************************************************************************************************************************** */
