@charset "UTF-8";

table {
    width: 900px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

table>thead>tr {
    background-color: lightgray;
}

table>thead>tr>th, table>tbody>tr>td {
    border: 1px solid #dddddd;
    text-align: center;
}

table>thead>tr>th{
    font-weight: bold;
}

.txt-left {
    text-align: left;
}

table>tbody>tr:hover {
    background-color: #ffff00;
}






