<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/main1.css">
</head>

<body>
    <div id="wrap">
        <header id="header">
            <img src="../../assets/images/logo.jpg" alt="logo">
        </header>

        <nav id="nav" class="clearfix">
            <ul>
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </nav>

        <div id="contents">
            <form action="" id="search">
                <div id="searchbtn">
                    <table>
                        <tr>
                            <td><input type="text"></td>
                            <td><button>검색</button></td>
                        </tr>
                    </table>
                    
                    
                </div>






                
                <div id="radiobtn">
                    <label for="blogtitle">블로그 제목</label>
                    <input type="radio" id="blogtitle" name="blog">
                    <label for="blogername">블로거 이름</label>
                    <input type="radio" id="blogername" name="blog">
                </div>
            </form>
        </div>

        <footer id="footer">
            <a href="">회사소개</a>
            <a href="">서비스소개</a>
            <a href="">이용약관</a>
            <a href="">개인정보처리방침</a>
            <a href="">제휴</a>
            <a href="">채용</a>
            <a href="">고객센터</a>
            <a href="">ⓒ방구석 internet</a>
        </footer>
    </div>
</body>

</html>