<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/boardupdate.css">
</head>

<body>
    <div id="wrap">
        <header id="header" class="clearfix">

            <h1>MySite</h1>

            <ul>
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>

        </header>

        <nav id="nav">
            <ul class="clearfix">
                <li><a href="../main/index.html">입사지원서</a></li>
                <li><a href="../board/list.html">게시판</a></li>
                <li><a href="../gallary/gallary.html">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </nav>

        <div id="contents3" class="clearfix">

            <aside id="aside">

                <h2>게시판</h2>

                <ul>
                    <li><a href="../board/list.html">일반게시판</a></li>
                    <li><a href="">댓글게시판</a></li>
                </ul>

            </aside>


            <main id="main">
                <div id="laps" class="clearfix">
                    <h3>일반게시판</h3>

                    <ol>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>




                <div id="intro">
                    <span>작성자</span><p>정우성</p><br>
                    <span>조회수</span><p>123</p><br>
                    <span>작성일</span><p>2020-03-02</p><br>
                </div>






                
                <form action="">

                    <div id="writetitletxt">
                        <span>제목</span>
                        <input type="text" value="제목을 입력해주세요.">
                    </div>


                    <div id="txtarea">
                        <textarea>내용없음</textarea>
                    </div>

                    









                    <div id="totalbtn">
                        <div id="listupdatebtn" class="clearfix">
                            <a href="../board/list.html">취소</a>
                        </div>
                        <div id="listupdatebtn" class="clearfix">
                            <a href="../board/boardupdate.html">수정</a>
                        </div>
                    </div>

                </form>




















            </main>







        </div>


        <footer id="footer">
            <p>Copyright ⓒ 2024 유영수. All right reserved</p>
        </footer>
    </div>

</body>

</html>