<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/board.css">
</head>

<body>
    <div id="wrap">
        <header id="header" class="clearfix">

            <h1>MySite</h1>

            <ul>
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>

        </header>

        <nav id="nav">
            <ul class="clearfix">
                <li><a href="../main/index.html">입사지원서</a></li>
                <li><a href="../board/list.html">게시판</a></li>
                <li><a href="../gallary/gallary.html">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </nav>

        <div id="contents2" class="clearfix">

            <aside id="aside">

                <h2>게시판</h2>

                <ul>
                    <li><a href="../board/list.html">일반게시판</a></li>
                    <li><a href="">댓글게시판</a></li>
                </ul>

            </aside>


            <main id="main">
                <div id="laps" class="clearfix">
                    <h3>일반게시판</h3>

                    <ol>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>

                <form action="">
                    <div id="search" class="clearfix">
                        <div>
                            <input type="text" id="searchtxt">
                            <button>검색</button>
                        </div>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>조회수</th>
                                <th>작성일</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123</td>
                                <td class="ta"><a href="../board/listcheck.html">게시판 글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td class="ta"><a href="../board/listcheck.html">게시판 글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td class="ta"><a href="../board/listcheck.html">게시판 글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td class="ta"><a href="../board/listcheck.html">게시판 글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td class="ta"><a href="../board/listcheck.html">게시판 글입니다.</a></td>
                                <td>정우성</td>
                                <td>1232</td>
                                <td>2020-12-23</td>
                                <td>[삭제]</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div id="page" class="clearfix">
                        <ol>
                            <li>◀</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>▶</li>
                        </ol>
                    </div>

                    <div id="writebtn" class="clearfix">
                        <a href="../board/boardinsert.html">글쓰기</a>
                    </div>

                </form>


            </main>








        </div>


        <footer id="footer">
            <p>Copyright ⓒ 2024 유영수. All right reserved</p>
        </footer>
    </div>
    
</body>

</html>