<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/infoupdate.css">
</head>

<body>
    <div id="wrap">
        <header id="header" class="clearfix">

            <h1>MySite</h1>

            <ul>
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>

        </header>

        <nav id="nav">
            <ul class="clearfix">
                <li><a href="../main/index.html">입사지원서</a></li>
                <li><a href="../board/list.html">게시판</a></li>
                <li><a href="../gallary/gallary.html">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </nav>

        <div id="contents3" class="clearfix">

            <aside id="aside">

                <h2>회원</h2>

                <ul>
                    <li><a href="">회원정보</a></li>
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>

            </aside>


            <main id="main">
                <div id="laps" class="clearfix">
                    <h3>회원정보</h3>

                    <ol>
                        <li>홈</li>
                        <li>회원</li>
                        <li>회원정보</li>
                    </ol>
                </div>



                <form action="">
                    <div id="info">
                        <div class="check">
                            <label for="idtxt" class="infospan">아이디</label>
                            <span>userid</span>
                        </div>

                        <div class="check">
                            <label for="" class="infospan">비밀번호</label>
                            <input type="password" id="pwtxt" placeholder="비밀번호입력">
                        </div>

                        <div class="check">
                            <label for="" class="infospan">이름</label>
                            <input type="text" id="nametxt" placeholder="이름입력">
                        </div>

                        <div class="check">
                            <span class="infospan">성별</span>

                            <label for="man">남</label>
                            <input type="radio" id="man" name="gentle">
                            <label for="woman">여</label>
                            <input type="radio" id="woman" name="gentle">
                        </div>

                        <div id="totalbtn">
                            <button>회원정보수정</button>
                        </div>
                    </div>
                </form>



















            </main>







        </div>


        <footer id="footer">
            <p>Copyright ⓒ 2024 유영수. All right reserved</p>
        </footer>
    </div>

</body>

</html>