<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/main2.css">
    <link rel="stylesheet" href="../../assets/css/blogsetting.css">
</head>

<body>
    <div id="wrap">
        <header id="header" class="clearfix">

            <h1>정우성의 블로그입니다.</h1>

            <ul>
                <li><a href="">로그인</a></li>
            </ul>

        </header>



        <div id="contents2" class="clearfix">



            <main id="main">
                <ul>
                    <li>기본설정</li>
                    <li>기본설정</li>
                    <li>기본설정</li>
                </ul>
            </main>


        </div>


        <footer id="footer">
            <p><Strong>Spring 이야기</Strong> is powered by JBlog ⒞2020</p>
        </footer>
    </div>

</body>

</html>