<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mysite</title>
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <style>

    </style>
</head>

<body>

    <div id="wrap">
        <header id="header" class="clearfix">

            <h1>MySite</h1>

            <ul>
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>

        </header>

        <nav id="nav">
            <ul class="clearfix">
                <li><a href="../main/index.html">입사지원서</a></li>
                <li><a href="../board/list.html">게시판</a></li>
                <li><a href="../gallary/gallary.html">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>

        </nav>

        <div id="contents" class="clearfix">
            <img id="profile" src="../../assets/images/jung.jpg" alt="정우성">

            <div id="greetin-box">
                <p class="greeting">
                    안녕하세요!!!!
                    <br>
                    유영수의 MySite에 오신 것을 환영합니다.
                    <br><br>
                    이 사이트는 웹 프로그래밍 실습과제 에제 사이트입니다.
                    <br><br>
                </p>
                <p>
                    사이트 소개, 회원가입, 방명록, 게시판으로 구성되어 있으며
                    <br>
                    jsp&serlvet(모델2) 방식으로 제작되었습니다.
                    <br><br>
                    자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업
                    <br>
                    배운 거 있는거 없는거 다 합쳐서 만들어 놓은 사이트 입니다.
                    <br><br>
                    (자유롭게 꾸며보세요!!)
                    <br><br>
                    <a href="">[방명록에 글 남기기]</a>
                </p>
            </div>
        </div>

        <footer id="footer">
            <p>Copyright ⓒ 2024 유영수. All right reserved</p>
        </footer>
    </div>









</body>

</html>